<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>

    <style>
        .container {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }
    </style>

</head>
<body>
    <div class="container">
        <h1> Libros </h1>
        {% if books %}
            <ul>
                {% for i in books %}
                    <li style="list-style: none;">
                        <a href="/detail/{{i.id}}">{{i.title}}</a>
                    </li>   
                {% endfor %}
            </ul>
        {% else %}
            <p>No tenemos libros </p>
        {% endif %}
    </div>
</body>
</html>